[Desktop Entry]
Name=PremediaApp
Comment=Media asset manager and converter
Exec=PremediaApp
Icon=PremediaApp
Type=Application
Categories=Graphics;Utility;
StartupNotify=true
Terminal=false
