[Desktop Entry]
Name=PremediaApp
Comment=Run the PremediaApp
Exec=/opt/PremediaApp/PremediaApp
Icon=/opt/PremediaApp/pm.png
Terminal=false
Type=Application
Categories=Utility;
