PySide6==6.9.1
PySide6-Essentials==6.9.1
PySide6-Addons==6.9.1
shiboken6==6.9.1
requests==2.32.3
urllib3==2.2.3
Pillow==10.3.0
paramiko==3.5.0
cffi==1.17.1
numpy==1.26.4
psd-tools==1.9.31
tzdata==2024.1